In [7]:
# начальный код

import random
import pandas as pd

random.seed(10)

list_metrics = []

for i in range(0,300):
  n = random.randint(-100,1000)
  list_metrics.append(n)

list_metrics = pd.DataFrame({'Прирост': list_metrics})
list_metrics

# далее будет код шаблона

     Прирост
0        -34
1        778
2        888
3        -70
4        322
..       ...
295        1
296      261
297      104
298      638
299      280

[300 rows x 1 columns]

In [15]:
result1 = round(list_metrics['Прирост'].std(), 2)
result1

316.26

In [17]:
result2 = round(max(list_metrics['Прирост']) - min(list_metrics['Прирост']),2)
result2

1094